<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  {{>navbar}}
<link rel="stylesheet" href="styles.css">
<style>
.rcorners {
    background-image: url("animebg.jpg");
    background-size: cover;
  border-radius: 25px;
  padding: 20px;
  width: 1100px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position:relative;
}
.subdiv{  border-radius: 25px ;
    position: absolute;
    
     width: 50%;
  height:95%;
   text-align: center;
}
#fade{
    background-color: black;
    opacity: .7;
    border: 1px solid #313131;
}

{{!-- form css --}}
.form-container {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            max-width:80%;
            border-radius: 10px;
            
        }

        /* Style form elements as needed */
        form {
            display: flex;
            flex-direction: column ;
        }

       h2, label {
            color: white;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        button {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
{{!-- form css end --}}
</style>
  </head>
<body>  <div class="rcorners" >
  <div class="subdiv" id="fade">
 
    </div>
    <div class="subdiv">
   
    <div class="form-container">
       <br> <h2>Sign In</h2><br><br>
        <form action="/login" method="POST">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Log In</button>
        </form>
        <br>
        <span style="color: white;">New here?<a href="register"> Sign up</a></span>
    </div>

   </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>