<div id="blackBar">
  <a href="/"><h2 class="navleft">MY TO-DO-LIST</h2></a>
  <p id="name" class="navright" style="color:white; right:200px;">{{this.name}}</p>
  <a style="color:white;" href="logout"><p class="navright" style="right:110px;">logout</p></a>
  <a style="color:white;" href="about"><p class="navright">about</p></a>
</div>

